.advertisement-banner {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-family: 'REM', sans-serif;
    height: 100px;
    font-weight: 900;
    font-size: 2em;
    background-color: rgba(248, 176, 51, 0.994);
    color: rgb(252, 252, 252);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test {
    font-family: 'REM', sans-serif;
    font-weight: 900;
    font-size: 2.5em;
    text-align: center;
    height: 450px;
    background-color: rgba(255, 250, 120, 0.984);
    margin-top: 50px;
    margin-bottom: 50px;
}
