.navigation-container {
   /* border: 2px solid green; */
   font-family: 'REM', sans-serif;
   padding-top: 10px;
   padding-bottom: 10px;
   border-bottom: 1px solid rgba(128, 128, 128, 0.554);
}

.main-nav {
    /* border: 2px solid black; */
    max-width: 1480px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-gap: 20px;
    margin: 0 auto;
}

.logo {
    font-weight: 900;
    font-size: 3.25em;
}


.nav-list li {
    font-family: 'REM', sans-serif;
    font-weight: 400;
    display: inline;
    padding-right: 70px;
    font-size: .95em;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}


.search-cart {
    display: flex;
    /* border: 1px solid black; */
}

.search-container {
    margin-right: 35px;
    /* border: 3px solid black; */
}

.search-form {
    border: 1.2px solid black;
    border-radius: 2px;
    padding: 8px;
}

.search-input {
    border: none;
    height: 30px;
    font-size: 1em;
}

.search-input:focus {
    outline: none;
}

.search-button {
    border: none;
    background: none;
}

.cart-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cart-quantity-icon {
    cursor: pointer;
    background: none;
    border: none;
    background-color: black;
    color: white;
    font-weight: 900;
    font-size: 1em;
    border-radius: 50%;
    position: absolute;
    left: 25px;
    top: 25px;
}

.cart-button {
    /* border: 4px solid green; */
    cursor: pointer;
    background: none;
    border: none;
}

.cart-dropdown.active {
    opacity: 1;
    visibility: visible;
}

.cart-dropdown.inactive {
    opacity: 0;
    visibility: hidden;
}
