.product-list-container {
    font-family: 'REM', sans-serif;
    margin-top: 35px;
    margin-bottom: 35px;
}

.product-list-grid {
    max-width: 1480px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 35px;
    grid-template-columns: .2fr 1fr;
    grid-template-rows: 1fr .7fr 1fr;
}

.products-row-1 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    grid-column: 2 / -1;
}

.products-row-2 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    grid-column: 2 / -1;
}

.products-row-3 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    grid-column: 2 / -1;
}

img {
    width: 100%;
    height: auto;
}

.product-name, .product-price {
    margin-top: 5px;
    font-weight: 300;
}

.product-name {
    font-size: .95em;
}

.product-price {
    font-size: .8em;
}

/* START side navigation */

ul {
    margin: 0;
    padding: 0;
}

ul > li {
    font-weight: 300;
    list-style: none;
    padding-top: 15px;
}

.browse {
    font-family: 'REM', sans-serif;
    font-size: 1.1em;
    list-style: none;
    width: 150px;
    margin-bottom: 10px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(167, 167, 167);
}

/* END side navigation */
