.single-product-container {
   font-family: 'REM', sans-serif;
    margin-top: 100px;
    margin-bottom: 35px;
}

.product-grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: .75fr .4fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 1480px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}

.images-row-1 {
    display: flex;
    gap: 15px;
    grid-column: 1 / 2;
}

.images-row-2 {
    display: flex;
    gap: 15px;
    grid-column: 1 / 2;
}

.details-container {
    padding-left: 70px;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
}

.detail-top {
    border-bottom: 1px solid rgb(164, 164, 164);
    padding-bottom: 10px;
    margin-bottom: 20px;
}


.product-detail-name {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 25px;
}

.product-detail-price {
    font-size: 1.75em;
    font-weight: 400;
}

/* START color selector  */

.detail-middle {
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}

.color {
    font-weight: 500;
}

.color-icon-container {
    cursor: pointer;
    border: 2px solid black;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 2.75px;
}

.color-selection {
    border-bottom: 1px solid rgb(164, 164, 164);
    padding-bottom: 20px;
}

.color-icon {
    background-color: pink;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

/* END color selector  */


/* START quantity container */

.quantity-container {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.increment {
    background-color: rgb(235, 235, 235);
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.increment-button {
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

.decrement-button {
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

.decrement {
    background-color: rgb(235, 235, 235);
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.add-bag-button {
    width: 100%;
    cursor: pointer;
    margin-top: 25px;
    height: 2.75em;
    color: white;
    background-color: rgba(0, 0, 0, 0.913);
}

/* END quantity container */
