.shopping-cart-container {
    font-family: 'REM', sans-serif;
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    height: 100vh;
    width: 40rem;
    position: fixed;
    z-index: 999;
    right: 0;
    display: grid;
    grid-template-rows: .06fr .8fr .14fr;
}


.shopping-cart-top {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.my-bag {
    display: flex;
    gap: 5px;
}

.close-cart-button {
    cursor: pointer;
    border: 1px solid black;
}

.shopping-cart-middle {
    border: 1px solid black;
}

.shopping-cart-bottom {
    border: 1px solid black;
}
